<%= link_to "New Event", new_event_path %>

<p>
  <%= link_to "Latest events",latest_events_path %>
</p>




<table class="table">
  <% @events.each do |event| %>
    <tr>
      <td>
      <%= event.name%>
      </td>

      <td>
      <%= link_to "Show", event_path(event), :class => "btn btn-primary"%>

      <%= link_to "Attendee List", event_attendees_path(event), :class => "btn btn-primary" %>

      <%= link_to "Edit", edit_event_path(event), :class => "btn btn-default"%>

      <%= link_to "Delete", event_path(event), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"} %>
      </td>
  <% end %>
</table>

<%= paginate @events %>

<%= button_to "delete all", bulk_delete_events_path %>
