<h2><%= @event.name %></h2>

<p><%= @event.category.try(:name)%></p>

<%= simple_format(@event.description) %>

<p><%= link_to 'Back to index', events_path %></p>


<!-- cp ~/pictures/ruby.png app/assets/images/-->
<%= image_tag("ruby.png") %>

<div id="demo">
test

</div>
